<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <!--Hey, here's an example of how to use custom configuration elements in a console application.  Isn't that fucking great?-->
    <!--See http://msdn.microsoft.com/en-us/library/2tw134k3%28v=vs.140%29.aspx-->
    <sectionGroup name="pageAppearanceGroup">
      <!--http://stackoverflow.com/questions/19095215/configurationmanager-getsection-gives-error-could-not-load-type-from-assembl-->
      <!--DUMB, The name ',ConsoleTestHackingAround' apparently refers to the DLL that you re building, the sorry ass examples are so freaking inconsistent with regard to attributes.  It happens to work here, but many examples don't show it. -->
      <!--<section name="pageAppearance" type="ConsoleTestHackingAround.CustomConfigSections.MyCustomConfigHandler" allowLocation="true" allowDefinition="Everywhere" />-->
      <section name="pageAppearance" type="ConsoleTestHackingAround.CustomConfigSections.MyCustomConfigHandler, ConsoleTestHackingAround" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>

  <pageAppearanceGroup>
    <pageAppearance remoteOnly="true">
      <font name="TimesNewRoman" size="18"/>
      <color background="000000" foreground="FFFFFF"/>
      <stupid idiot="dumbhead"/>
      <!--<stupid idiot="dumb" crap="crap"/>-->
    </pageAppearance>
  </pageAppearanceGroup>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>


